################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/First-Website-Tester/FileContentIndex/164af2d2-6caf-4e12-8383-9725995faee3.vsidx
*.vsidx
/.vs/First-Website-Tester/FileContentIndex/1f5e8948-5439-408c-b3b7-3fd96d5b962c.vsidx
